/**
 * Structure of a twf post
 * div.twfpost(.read.unread)
 *     div.header.row
 *         div.picture.left
 *         div.topic(.starter)
 *             div.subject
 *             div.author
 *     div.row
 *         div.side.left
 *         div.content-mask
 *             div.content
 *                 div.attachments
 *                 div.posting(.shortenedpost|.fullpost)
 *                     // message
 *                 div.attachedimages
 *                     // attachedimages
 *     div.row
 *         div.left
 *         div.options
 *             div.commands
 *             div.post-word-count
 *             div.twf-post-rating
 *             div.link
 *             div.footer
 */

.twfpost {display: block;position:relative;margin:0 0 1em 0;padding:0;border:1px solid #000;max-width:100%;}
.twfpost .row {width:100%;position:relative;}
.twfpost .row .left {float:left;width: 43px;overflow:hidden;}
.twfpost .row .left .grouppictures a {text-align:center;display:block;margin:6px 2px 0 2px;}
.twfpost .row .left .grouppicture {width:20px;height:20px;}
.twfpost .row .topic,
.twfpost .row .content-mask,
.twfpost .row .options {margin-left:43px;}
.twfpost .picture img {margin:4px;}
.twfpost .options .commands,
.twfpost .content .attachments,
.twfpost .options .footer,
.twfpost .options .link {text-align:right;}
.twfpost .options .twf-post-rating {float:left;}
.twfpost .content .posting {overflow:auto;max-width:100%;}
.twfpost .content .attachedimages img {max-width:100%;}
.twfpost .post-word-count { font-size: .85em; font-style: italic; }
.twfpost .shortenedpost .post-word-count { display: inline; padding: 0 .3em; }

.dir-rtl .twfpost .row .topic,
.dir-rtl .twfpost .row .content-mask,
.dir-rtl .twfpost .row .options {margin-right:43px;margin-left:0;}
.dir-rtl .twfpost .row .left {float:right;}
.dir-rtl.path-mod-twf .indent {
    margin-right: 3%;
    margin-left: 0;
}

.path-mod-twf .twfolddiscuss,
#page-mod-twf-search .c0 {text-align:right;}
.path-mod-twf .indent {
    margin-left: 3%;
}
.path-mod-twf .twfheaderlist {width: 100%;border-width:1px;border-style:solid;border-collapse:separate;margin-top: 10px;}
.path-mod-twf .twfheaderlist td {border-width:1px 0px 0px 1px;border-style:solid;}
.path-mod-twf .twfheaderlist th.header.replies .iconsmall { margin: 0 .3em;}
.path-mod-twf .twfheaderlist .picture {width: 35px;}
.path-mod-twf .twfheaderlist .discussion .starter {vertical-align: middle;}
.path-mod-twf .twfheaderlist .discussion .lastpost {white-space: nowrap;text-align: right;}
.path-mod-twf .twfheaderlist .replies,
.path-mod-twf .twfheaderlist .discussion .author {white-space: nowrap;}
.path-mod-twf .twfheaderlist thead .discussionsubscription {
    text-align: center;
}

/** Styles for subscribers.php */
#page-mod-twf-subscribers .subscriberdiv,
#page-mod-twf-subscribers .subscribertable {width:100%;vertical-align:top;}
#page-mod-twf-subscribers .subscribertable tr td {vertical-align:top;}
#page-mod-twf-subscribers .subscribertable tr td.actions {width:16%;padding-top:3em;}
#page-mod-twf-subscribers .subscribertable tr td.actions .actionbutton {margin:0.3em 0;padding:0.5em 0;width:100%;}
#page-mod-twf-subscribers .subscribertable tr td.existing,
#page-mod-twf-subscribers .subscribertable tr td.potential {width:42%;}

/** Styles for discuss.php **/
#page-mod-twf-discuss .discussioncontrols {width:100%;margin:5px;}
#page-mod-twf-discuss .discussioncontrols .discussioncontrol {width:33%;float:left;}
#page-mod-twf-discuss .discussioncontrol.exporttoportfolio {text-align:left;}
#page-mod-twf-discuss .discussioncontrol.displaymode {text-align:center;}
#page-mod-twf-discuss .discussioncontrol.movediscussion {float:right;width:auto;text-align:right;padding-right:10px;}
#page-mod-twf-discuss .discussioncontrol.movediscussion .movediscussionoption {}

/** Styles for view.php **/
#page-mod-twf-view .twfaddnew {margin-bottom: 20px;}
#page-mod-twf-view .groupmenu {float: left;text-align:left;white-space: nowrap;}
#page-mod-twf-index .subscription,
#page-mod-twf-view .subscription {float: right;text-align:right;white-space: nowrap;margin: 5px 0;}

/** Styles for search.php */
#page-mod-twf-search .introcontent {padding: 15px;font-weight:bold;}

#page-mod-twf-index .unread a:first-child,
#page-mod-twf-view .unread a:first-child {padding-right: 10px;}
#page-mod-twf-index .unread img,
#page-mod-twf-view .unread img {margin-left: 5px;}
#page-mod-twf-view .unread img {margin-left: 5px;}
.dir-rtl#page-mod-twf-view .unread img {margin-right: 5px; margin-left: 0; }

/** Unknown Styles ??? */
#email .unsubscribelink {margin-top:20px;}

/* Forumpost unread
-------------------------*/
#page-mod-twf-view .unread,
.twfpost.unread .row.header,
.path-course-view .unread,
span.unread {
    background-color: #FFD;
}
.twfpost.unread .row.header {
    border-bottom: 1px solid #DDD;
}

/* Discussion navigation */
.path-mod-twf .discussion-nav {
    margin: .5em 0;
}
.path-mod-twf .discussion-nav ul {
    margin: 0;
    list-style: none;
}
.dir-rtl.path-mod-twf .discussion-nav .next-discussion:after,
.path-mod-twf .discussion-nav .prev-discussion:before {
    content: ' ◄ ';
}
.dir-rtl.path-mod-twf .discussion-nav .prev-discussion:before,
.path-mod-twf .discussion-nav .next-discussion:after {
    content: ' ► ';
}
.dir-rtl.path-mod-twf .discussion-nav .prev-discussion,
.path-mod-twf .discussion-nav .next-discussion {
    float: right;
}
.dir-rtl.path-mod-twf .discussion-nav .next-discussion,
.path-mod-twf .discussion-nav .prev-discussion {
    float: left;
}

.path-mod-twf .preload-subscribe {
    background: url([[pix:mod_twf|t/subscribed]]) no-repeat -9999px -9999px;
}

.path-mod-twf .preload-unsubscribe {
    background: url([[pix:mod_twf|t/unsubscribed]]) no-repeat -9999px -9999px;
}

.path-mod-twf .discussionsubscription {
    margin-top: -10px;
    text-align: right;
    margin-bottom: 10px;
}

.path-mod-twf .discussionsubscription > a > img {
    width: 12px;
    padding: 0 4px;
}

.dir-rtl .path-mod-twf .discussionsubscription {
    text-align: left;
}
